.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sorting {
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;  
  display: flex;
  justify-content: flex-end;
  width: 65%; /* Takes 3/4th of the available width */
  margin-left: 315px; /* Align to the right */
  margin-right: 0px;
  border-radius: 8px;
  position: sticky; 

}

  .main-content {
    display: flex;
    width: 100%;
    
  }

.filter {
  width: 15%;
  height: 100vh;  /* Full viewport height */
  background-color: #f9f9f9;
  margin-left: 100px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;  /* Keeps the filter fixed while scrolling */
  top: 0;            /* Sticks to the top of the page */
  z-index: 10;       /* Ensures it's above other elements */
}
  

.filter-group {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: left;
  margin-left: 0px;
  flex: 1;
  margin-right: auto;
  flex-direction: column;
}

.product-list {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  margin-right: 100px;
}

.product {
  width: 90%;
  margin: 2.5%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

@media (max-width: 768px) {
  .filter {
    width: 100%;
  }

  .product-list {
    width: 100%;
  }

  .product {
    width: 90%;
    margin: 5%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns, each taking up equal space */
  gap: 10px; /* Optional: space between the cards */
  padding: 10px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.clear-button {
  margin-left: auto; /* Push the button to the right */
  background: none;
  border: none;
  color: blue;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}
h2 {
  margin: 0; /* Remove default margin from h2 */
  padding: 0;
}
.filter-header {
  display: flex;
  justify-content: space-between;  /* This makes the two elements spread out on the same line */
  align-items: center;             /* Vertically centers the items */
  margin-bottom: 10px;             /* Adds some spacing below the header */
}


.filter img {
  vertical-align: middle; /* Ensure image is vertically aligned */
}

.single-line {
  white-space: nowrap;       /* Prevents text from wrapping to the next line */
  overflow: hidden;          /* Ensures that the overflowed content is hidden */
  text-overflow: ellipsis;   /* Adds '...' at the end if the text overflows */
}
