.app {
  display: flex;
  flex-direction: column;
}

.sorting {
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;  
  display: flex;
  justify-content: flex-end;
  width: 63%; /* Takes 3/4th of the available width */
  margin-left: 340px; /* Align to the right */
  margin-right: 0px;
  border-radius: 8px;

}

.main-content {
  display: flex;
  width: 100%;
}

.filter {
  width: 15%;
  height: 100vh;  /* Full viewport height */
  padding: 20px;
  background-color: #f9f9f9;
  margin-left: 100px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;  /* Keeps the filter fixed while scrolling */
  top: 0;            /* Sticks to the top of the page */
  z-index: 10;       /* Ensures it's above other elements */
}
  

.filter-group {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  flex: 1;
  margin-right: 100px;
  flex-direction: column;
}

.product-list {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  margin-right: 100px;
}

.product {
  width: 90%;
  margin: 2.5%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

@media (max-width: 768px) {
  .filter {
    width: 100%;
  }

  .product-list {
    width: 100%;
  }

  .product {
    width: 90%;
    margin: 5%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns, each taking up equal space */
  gap: 10px; /* Optional: space between the cards */
  padding: 10px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.clear-button {
  background: none;      /* No background */
  border: none;          /* No border */
  color: blue;           /* Blue text */
  font-size: 16px;       /* Adjust font size if needed */
  cursor: pointer;       /* Show pointer on hover */
  padding: 0;            /* Remove default padding */
}

.single-line {
  white-space: nowrap;       /* Prevents text from wrapping to the next line */
  overflow: hidden;          /* Ensures that the overflowed content is hidden */
  text-overflow: ellipsis;   /* Adds '...' at the end if the text overflows */
}
